### Build Outputs ###
target/
build/
out/
bin/

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
# !.idea/runConfigurations/ 
# !.idea/vcs.xml

### Java & Logs ###
*.class
*.log
*.ctxt

### Virtual Environment & OS ###
.DS_Store
Thumbs.db
.vscode/